body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sc-hKgILt,
.fAeowZ {
  height: 100%;
}

.header {
  position: relative;
  width: 100%;
}

.header__popup {
  padding: 20px;
  width: 600px;
}

.header__popup-avatar {
  display: flex;
  align-items: center;
  font-size: 25px;
}

.header__avatar {
  position: absolute;
  left: 15px;
  top: 5px;
}

.header__title {
  color: #e4e4e4;
  text-align: center;
  font-size: 35px;
}

.history {
  margin-left: 20px;
}

.card__input {
  width: 250px;
  margin: 0 auto;
  display: block;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 72px;
  resize: vertical;
  padding: 5px;
}

.card__textButton {
  text-align: center;
  border-radius: 3px;
  color: #5e6c84;
  display: block;
  padding: 8px 8px;
  position: relative;
  text-decoration: none;
}

.card__textButton:hover {
  background: rgba(216, 216, 216, 0.822);
}

.card__button {
  outline: none;
  margin: 5px;
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.card__button:hover {
  background-color: #6cd84e;
}

.task__clip-img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.task__clip {
  display: flex;
  align-items: center;
  margin: 0;
}

.task__color {
  height: 20px;
}

.TaskColor__save {
  position: absolute;
  right: 10px;
  top: 45px;
}

.menu__button {
  position: fixed;
  top: 5px;
  right: 15px;
}

.DeskTitle {
  margin: 0;
  padding: 0;
  padding-left: 5px;
  border-top: 1px solid rgb(158, 158, 158);
}

.DeskHistory {
  width: 95%;
  margin: 10px auto;
}
